{
    auto_https off
    debug
}

http://theme.test:8080 {
    reverse_proxy http://127.0.0.1:8001
}

http://client.test:8080 {
    reverse_proxy http://127.0.0.1:8003
}

http://ws.test:8080 {
    reverse_proxy http://127.0.0.1:8002
}